VITE_SUPABASE_URL=https://uvjjnxemvamwzcturyfq.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_HMQg3pGUWr_SGK_snzH8-A_ADwd25ah
VITE_VAPID_PUBLIC_KEY=BAHL4pmHLQej-AfdizKvbWBkJCCwHb5qQ4TdWMomxjxezV-RTU3FYlFMIK92CggiW9z8zprWjYSyo1vN0bMsY10
